<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mry5l.springbootinit.mapper.UserinfoMapper">

    <resultMap id="BaseResultMap" type="com.mry5l.springbootinit.model.entity.Userinfo">
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="loginTime" column="loginTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ip,loginTime
    </sql>
</mapper>
